#search {
  height: 34px;
  font-weight: 400;
  font-family: arial;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}
#movieGrid {
  display: inline;
}
.movies {
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
}
.movies img {
  height: 450px;
}
a {
  cursor: pointer;
}